<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img src="assets/img/logo.png" alt="">
                <div class="content-center">
                    <div class="text-center">
                        <a href="https://www.facebook.com/SaturdaySkaankOut/"
                           ngbTooltip="Like us on Facebook"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="https://twitter.com/SSkankout"
                           ngbTooltip="Follow us on Twitter"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCWAArhKMJW0vGmFX9gl4Chw"
                           ngbTooltip="Subscribe to our Youtube Channel"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://www.instagram.com/saturdayskankout/"
                           ngbTooltip="Follow us on Instagram"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.mixcloud.com/saturday_skankout/"
                           ngbTooltip="Follow us on Mixcloud"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="fab fa-mixcloud"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
