<div class="wrapper">
    <app-page-header [title]="'Merch'"></app-page-header>
    <div class="section section-about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngFor="let product of products">
                    <div class="card text-center">
                        <div class="card-body">
                            <img class="img-thumbnail" style="height: 250px;"
                                 [src]="product.images[0].imagePath" alt="">
                            <h4 class="card-title">{{product.name}}</h4>
                            <p class="card-description">{{product.description}}</p>
                            <button class="btn btn-success" [routerLink]="'products/' + product.id">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
